{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>STORY 6 by ABIYU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: whitesmoke">

<div class="container-fluid">
    <h1>Hello apa kabar?</h1>
    <div class="row">
        <div class="col-sm-8" style="background-color:whitesmoke;">
            <div>
                <h3>My Status Timeline</h3>
                    <div class="table-responsive" id="id_table_status_timeline">
                    <table class="table">
                        <thead>
                        <th class="col-sm-9">Status</th>
                        <th> Time Published </th>
                        </thead>
                        <tbody>
                        {% for foo in message %}
                            <tr>
                                <td>{{ foo.statusField }}</td>
                                <td>{{ foo.timeField }}</td>
                            </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
        </div>

                <div class="col-sm-4" style="background-color:whitesmoke;">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button type="submit" class="btn btn-primary" id="id_submit_button">Submit Status</button>
                            <br>
                        </form>
                </div>

            </div>
        </div>

</body>
</html>
