<!DOCTYPE html>
{% extends 'templates.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<html lang="en">
<head>
</head>
<body>

    <!--KOLOM KANAN-->
    <div class="col-sm-8" style="background-color:#fff7e9;">
        <h2 align="center" style="margin-top: 3px; margin-bottom: 10px">EDUCATION</h2>
        <div style="margin-top:10px" align="center">
          <img style="" src="https://image.ibb.co/fbzWPz/fasilkom.png">
          <p style=""><font size=5px face="Tahoma"><strong> FASILKOM UNIVERSITAS INDONESIA </strong></font><br><font size="5px"><i>2017-2021</i></font></p>
        </div><br>
        <div align="center">
          <img  style=""  src="https://image.ibb.co/cXgBPz/Smansa.png">
          <p style=""><font size=5px face="Tahoma"><strong> SMA NEGERI 1 BOGOR </strong></font><br><font size="5px"><i>2014-2017</i></font></p>
        </div><br>
        <div align="center">
          <img  style=""  src="https://image.ibb.co/jWkhWe/Spensa.png">
          <p style=""><font size=5px face="Tahoma"><strong> SMP NEGERI 1 BOGOR </strong></font></font><br><font size="5px"><i>2011-2014</i></font></p>
        </div><br>
    </div>

</body>
{% endblock %}
</html>
